    .fader {
        /* Giving equal sizes to each element */

        /* Positioning elements in lines */
        display:  inline-block;
        
        /* This is necessary for position:absolute to work as desired */

        
        /* Preventing zoomed images to grow outside their elements */
        overflow: hidden; }
        
        
        .fader img {
            /* Stretching the images to fill whole elements */
            width:       100%;
            height:      100%;
            
            /* Preventing blank space below the image */
            line-height: 0;
            
            /* A one-second transition */
            -webkit-transition: all 0.3s ease;
            -moz-transition:    all 0.3s ease;
            -o-transition:      all 0.3s ease;
            -ms-transition:     all 0.3s ease;
            transition:         all 0.3s ease; }
            
            .fader img:hover {
                /* Making images appear bigger and transparent on mouseover */
                opacity: 1;
                width:   120%;
                height:  120%; }
